:root {
    --darkorange: rgb(238, 105, 37);
    --darkpurple: rgb(50, 10, 94);
    --lightpurple: rgb(65, 15, 118);
    --lightgray: rgb(164, 164, 164);
    --gray: rgb(128, 128, 128);
    --darkgray: rgb(32, 32, 32);
    --white: #fff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    background: var(--white);
    padding-left: 3em;
    padding-right: 3em;
    height: 100vh;
    overflow-y: auto;
    /* box-shadow: 0 0 3px 0px white; */
    /* or 950px */
}

.header {
    text-align: center;
    margin: 0em;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.social-icons {
    padding-top: 1.5em;
}


.social-icons a {
    font-style: normal;
    font-weight: normal;
    color: var(--gray);
    text-align: center;
    font-size: 1.8em;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid var(--lightgray);
    border-bottom: 1px solid var(--lightgray);
    margin: 0em;
    padding: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.menu a {
    font-style: normal;
    font-weight: bold;
    color: var(--darkpurple);
    text-decoration: none;
}

.menu a:hover {
    color: var(--darkorange);
    text-decoration: none;
}

.menu a.active-page {
    font-weight: bold;
    color: var(--darkorange);
}

.menu-center{
    width: 100%;
    text-align: center;
    padding: 0em;
}

.menu-blog-center{
    width: 33.33333%;
    text-align: center;
    float: left;
}

.menu-blog-left {
    width: 33.33333%;
    text-align: left;
    float: left;
}

.menu-blog-right {
    width: 33.33333%;
    text-align: right;
    float: left;
}

.text {
    margin: 0em;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both;
    width: 100%;
    text-align: justify; 
}

.blog-entry-index-date {
    color: var(--lightgray);
    padding-top: 0em;
    padding-bottom: 0em;
}

.blog-entry-index-title {
    font-size: 150%;
    font-style: normal;
    padding-top: 0em;
    padding-bottom: 0em;
}

.blog-entry-index-summary {
    padding-top: 0em;
    padding-bottom: 0em;
}


.footer {
    color: var(--gray);
    font-size: 80%;
    margin: 0em;
    border-top: 1px solid var(--lightgray);
    padding: 0em;
    padding-top: 0.5em;
    display: flex;
    flex-flow: row wrap;
}

.footer-left {
    width: 70%;
    text-align: left;

}

.footer-right {
    width: 30%;
    text-align: right;
}

.footer a {
    color: var(--gray);
    text-decoration: underline;
}

.footer a:hover {
    color: var(--gray);
}

body {
    font: normal 14px/1.75em avenir, sans-serif;
    color: var(--darkgray);
    /* text-align: justify; */
    background: var(--white);
    background-image: url("../images/webpage-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 0em;
    margin: 0em;
    height: 100vh;
}

p {
    margin: 0em;
    padding: 0em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--darkpurple);
    font-family: avenir, arial, sans-serif;
    font-weight: normal;
    margin: 0em;
    padding: 0em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

a {
    font-style: italic;
    font-weight: normal;
    color: var(--lightpurple);
    text-decoration: none;
}

a:hover {
    color: var(--darkorange);
    text-decoration: none;
}

hr {
    margin-top: 1px;
    margin-bottom: 1px;
}