:root {
    --darkorange: rgb(238, 105, 37);
    --darkpurple: rgb(50, 10, 94);
    --lightpurple: rgb(65, 15, 118);
    --lightgray: rgb(164, 164, 164);
    --gray: rgb(128, 128, 128);
    --darkgray: rgb(32, 32, 32);
    --white: #fff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    /* or 950px */
}

.header {
    text-align: center;
    margin: 0em;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
}


.menu {
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid var(--lightgray);
    border-bottom: 1px solid var(--lightgray);
    margin: 0em;
    padding: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.menu a {
    font-style: normal;
    font-weight: bold;
    color: var(--darkpurple);
    text-decoration: none;
}

.menu a:hover {
    color: var(--darkorange);
    text-decoration: none;
}

.menu a.active-page {
    font-weight: bold;
    color: var(--darkorange);
}

.menu-left {
    width: 15%;
    text-align: center;
    padding: 0em;
}

.menu-center{
    width: 70%;
    text-align: center;
    padding: 0em;
}

.menu-right{
    width: 15%;
    min-width: 5em;
    text-align: center;
    padding: 0em;
    font-size: 1.3em;
    position: relative;
    top: 0.15em;
}

.menu-right a {
    font-style: normal;
    font-weight: bold;
    color: var(--gray);
    text-decoration: none;
}

.text {
    margin: 0em;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both;
    overflow: auto;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
}

.footer {
    color: var(--gray);
    font-size: 80%;
    margin: 0em;
    border-top: 1px solid var(--lightgray);
    padding: 0em;
    padding-top: 0.5em;
    display: flex;
    flex-flow: row wrap;
}

.footer-left {
    width: 70%;
    text-align: left;

}

.footer-right {
    width: 30%;
    text-align: right;
}

.footer a {
    color: var(--gray);
    text-decoration: underline;
}

.footer a:hover {
    color: var(--gray);
}

body {
    font: normal 14px/1.75em avenir, sans-serif;
    color: var(--darkgray);
    /* text-align: justify; */
    background: var(--white);
    padding: 0em;
    margin: 0em;
}

p {
    margin: 0em;
    padding: 0em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--darkpurple);
    font-family: avenir, arial, sans-serif;
    font-weight: normal;
    margin: 0em;
    padding: 0em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

a {
    font-style: italic;
    font-weight: normal;
    color: var(--lightpurple);
    text-decoration: none;
}

a:hover {
    color: var(--darkorange);
    text-decoration: none;
}

hr {
    margin-top: 1px;
    margin-bottom: 1px;
}