<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/8bf43fed4f.js" crossorigin="anonymous"></script>

    <title>Axel Donath</title>
    <meta name="author" content="Axel Donath">
    <link href="static/css/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">
</head>

<body>
    <div class="container">

        <div class="header">
            <h1>Axel Donath</h1>
            <a href="http://axeldonath.com">
                <img src="static/images/adonath_avatar.png" alt="[Avatar]" style="width:128px;height:128px;" />
            </a>
            <div class="social-icons">
                <a href="https://github.com/adonath"><i class="fa-brands fa-github"></i>&nbsp;&nbsp;</a>
                <a href="https://linkedin.com/in/axeldonath"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;</a>
                <a href="https://orcid.org/0000-0003-4568-7005"><i class="fa-brands fa-orcid" ></i>&nbsp;&nbsp;</a>
                <a href="https://scholar.google.com/citations?user=vH26Bj0AAAAJ&hl=de"><i class="fa-brands fa-google-scholar"></i>&nbsp;&nbsp;</a>
                <a href="https://x.com/axeldonath"><i class="fa-brands fa-x-twitter"></i></a>
            </div>

        </div>

        <div class="menu">
            <p class="menu-center">
                {% for item in navbar_items %}
                {% if item.caption == active_page %}
                <a href="{{ item.href }}" class="active-page">{{ item.caption }}</a>
                {% else %}
                <a href="{{ item.href }}">{{ item.caption }}</a>
                {% endif %}

                {% if item.caption != 'contact' %}|{% endif %}
                {% endfor %}
            </p>
        </div>

        <div class="text">
            {{ content }}
        </div>

        <div class="footer">
            <p class="footer-left">
                © 2023 Created by <a href="http://axeldonath.com">Axel Donath </a>
                using <a href="https://jinja.palletsprojects.com/">Jinja 2 </a>
                and <a href="https://daringfireball.net/projects/markdown/">Markdown 2 </a>
            </p>
            <p class="footer-right">
                Page source on <a href="https://github.com/adonath/adonath.github.io">GitHub</a>
            </p>
        </div>

    </div>
</body>

</html>