<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Axel Donath</title>
    <meta name="author" content="Axel Donath">
    <link href="static/css/default.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">

        <div class="header">
            <h1>Axel Donath</h1>
            <a href="http://axeldonath.com">
                <img src="static/images/adonath_avatar.png" alt="[Avatar]" style="width:128px;height:128px;" />
            </a>
        </div>

        <div class="menu">
            <a href="./"><b>home</b></a> |
            <a href="./about.html">about</a> |
            <a href="./projects.html">projects</a> |
            <a href="./contact.html">contact</a>
        </div>

        <div class="text">
            {{ content }}
        </div>

        <div class="footer">
            <p>
                Created by <a href="http://axeldonath.com">Axel Donath</a> © 2023 using <a
                    href="https://jinja.palletsprojects.com/">Jinja 2
                </a> and <a href="https://daringfireball.net/projects/markdown/">Markdown 2</a>.
            </p>
        </div>

    </div>
</body>

</html>